/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Epilogue&family=Fredoka+One&display=swap');

/*********************/
/***    Général    ***/
/*********************/
*{
    margin: 0;
    /* padding: 0; */
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 

body{
    min-height: 100vh;
} 

/***********************************/
/***    Classes réutilisables    ***/
/***********************************/
section{
    background: #f2f2fc;
    position: relative;
    margin-top: 89px;
    min-height: 100vh;
}

.box {
    background: #fdf9ff;
    border: 1px solid #e8dfec;
    border-radius: 30px;
}
/*****************************/
/***    En-tête /NavBar    ***/
/*****************************/
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    border-bottom: 1px solid #e8dfec;
}

.header img{
    width: 108px;
    position: relative;
    top: -8px;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #000;
    transition: 0.3s;
}

.navbar a:hover::before{
    width: 100%;
}

.navbar form .inputDeconnexion {
    background: transparent;
    border: none;
    position: relative;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    margin-left: 40px;
    cursor: pointer;
}

/*****************************/
/***        Recette        ***/
/*****************************/
.recipe-container .main-info-recipe {
    margin: 20px 0;
    padding: 10px 30px;
    text-align: center;
}

.recipe-container #recipe-name{
    font-weight: 800;
}

.recipe-container span {
    font-weight: 600;
}

.recipe-container h6{
    font-weight: 600;
}

/*Alert*/
.recipe-container .alert-lg{
    background: #FFDB9B;
    padding: 10px 20px;
    min-width: 420px;
    height: 67px;
    border-radius: 4px;
    border-left: 4px solid #FFA502;
    margin: 20px 0;
    font-size: 18px;
    color: #CE8500;
    text-align: center;
}

.recipe-container .alert-lg button{
    background: #ffdb9b;
    border: 3px solid #FFA502;
    border-radius: 20px;
    padding: 5px 10px;
    color: #CE8500;
    transition: all 0.3s ease;
}

.recipe-container .alert-lg button:hover{
    transform: scale(1.1);
}

/*Select*/
#lg-select {
    width: 150px;
    padding: 3px 5px;
    background: #f2f2fc;
    border: none;
    border-bottom: 1px solid #bbbbbb;
}

#lg-select:focus {
    outline: none;
    border: none;
    color: #006e00;
    border-bottom: 1px solid #006e00;
}

#lg-select option{
    color : black;
}
/*Box de gauche : image, description */
.recipe-container .left-info{
    text-align: center;
    padding: 10px 30px;
    /* margin: 0 10px; */
}

.recipe-container #img-recipe{
    width: 30%;
    border-radius: 50px;
    background-color: #005800;
}

.recipe-container .left-info img{
    width: 380%;
}

.recipe-container .left-info p{
    margin-top: 16px;
    font-weight: bold;
}
/*Box de droite :  */
.recipe-container .right-info{
    padding: 10px 30px;
    /*margin: 0 10px;*/
}

.recipe-container .right-info h2{
    text-align: center;
    font-weight: 800;
}

.recipe-container .right-info h2::after {
    content: '';
    display: block;
    width: 100px;
    height: 8px;
    border-radius: 5px;
    background: #006e00;
    margin: 10px auto 20px;
}
.recipe-container .right-info .titre-preparation {
    margin-top: 20px;
}

.recipe-container .right-info .border{
    background: #fff;
    width: 150px;
    text-align: center;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.recipe-container .right-info .border p{
    margin-top: 5px;
}

/*****************************/
/***      Commentaires     ***/
/*****************************/
.recipe-container .commentaires{
    padding: 10px 30px;
    width: 100%;
}

.recipe-container .commentaires h2{
    font-weight: 800;
}

.recipe-container .commentaires h5{
    text-align: center;
    font-weight: 500;
    color: #006e00;
}

/*Formulaire*/
.recipe-container .commentaires form{
    margin: auto;
    text-align: center;
}

.recipe-container .commentaires form input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: #dddcdc 1px solid;
    border-radius: 50px;
}

.recipe-container .commentaires form input:focus{
    outline: none;
    border: #005800 2px solid;
}

.recipe-container .commentaires form textarea{
    width: 100%;
    padding: 10px;
    border: #dddcdc 1px solid;
    border-radius: 20px;
}

.recipe-container .commentaires form textarea:focus{
    outline: none;
    border: #005800 2px solid;
}

.recipe-container .commentaires form .btn{
    width: 250px;
    background: #006e00;
    transition: all 0.3s ease;  
}

.recipe-container .commentaires form .btn:hover{
    transform: scale(1.1);
}

/*Commentaires*/
.recipe-container #commentaires .bi-trash{
    border-radius: 5px;
    padding: 4px 5px;
    color: white;
    background-color: rgb(221, 15, 15);
}

.recipe-container #commentaires i:hover{
    transform: scale(1.1); 
    cursor: pointer;
}

.recipe-container #commentaires .border.rounded.p-1{
    background: #fff;
}